

.main-texto {
  font-size: 12px;
}


.footer {
  background-color: dimgray;
  color: dimgray;
  padding: 4em 0;
  position: relative;
}
.site-footer:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
.site-footer .footer-heading {
  font-size: 20px; }
.site-footer a {
  color: rgba(255, 255, 255, 0.3); }
.site-footer a:hover {
  color: #fff; }
.site-footer ul li {
  margin-bottom: 10px; }



.footer-link {
  color: lightblue;
}

.footer-link:hover {
  color: #61CCE5;
}
