/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#mapa-mapbox {
  /*display: block;*/
  /*position: absolute;*/
  /*top:0;*/
  /*bottom: 0;*/
  /*height: 500px;*/
  /*width: 100%;*/
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 4rem;
}

