<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand float-left" routerLink="">
    <img src="assets/logo.png" style="max-height: 3rem;">
  </a>
  <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarTogglerDemo02" data-toggle="collapse" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex justify-content-start">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/">Mapa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/acerca-de">Acerca de
          <i class="fa fa-info"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/tutorial">Tutorial
          <i class="fa fa-book"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contacto">Contacto
          <i class="fa fa-envelope-o"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav d-flex justify-content-center">
      <li class="nav-item"><a class="nav-link font-weight-bold btn btn-transparent" href="https://1ecosocialysoberana.wixsite.com/website-0" target="_blank">
        <i class="fa fa-hand-pointer-o fa-rotate-90 blog-hand-color"></i>
        Ecología Social y Soberana - Sitio
        <span class="fa-rotate-270" style="display: inline-block;">
    <i class="fa fa-hand-pointer-o fa-flip-horizontal blog-hand-color"></i>  </span>
      </a>
      </li>
    </ul>

    <ul *ngIf="user$ | async as user; else login" class="navbar-nav my-2 my-lg-0 d-flex justify-content-end ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="submitproject">Agregar
          <i class="fa fa-plus"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="proyectos">Mis Proyectos
          <i class="fa fa-list-ul"></i></a>
      </li>
      <li *ngIf="user" class="nav-item ">
        <a (click)="onLogout()" class="nav-link" style="cursor: pointer">Logout
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" disabled>{{ user?.email }}</a>
      </li>
    </ul>
    <ng-template #login>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Entrar</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink='register'>Registrarse</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>



