<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #7BBF68">
  <a class="navbar-brand float-left" routerLink="" >
    <img src="assets/logo.png" style="max-height: 3rem;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Mapa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Acerca de
          <i class="fa fa-info"></i></a>
      </li><li class="nav-item">
        <a class="nav-link" href="#">Contacto
          <i class="fa fa-envelope-o"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
      <li class="nav-item " *ngIf="user">
        <a class="nav-link" (click)="onLogout()" style="cursor: pointer">Logout
        <i class="fa fa-sign-out"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="proyectos">Mis Proyectos
          <i class="fa fa-list-ul"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="submitproject">Agregar
          <i class="fa fa-plus"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" disabled>{{ user?.email }}</a>
      </li>
    </ul>
    <ng-template #login>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink='register'>Register</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
