<div class="container mt-5 mb-5">
  <!--  <div class="card mt-5">-->
  <!--    <div class="card-body">-->
  <!--      <div class="row justify-content-center">-->
  <!--        <div class="col ">-->
  <!--          <p>Tu participación es muy importante. Sumate al equipo haciendo cualquier tipo de actividad dentro del proyecto!</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row">-->
  <!--        <div class="col ">-->
  <!--          <p>Envía tus dudas, consultas, reporte de problemas e ideas por e-mail:</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row">-->
  <!--        <div class="col">-->
  <!--          <ul>-->
  <!--            <li><a href="mailto:nahuelescobedo@gmail.com" target="_blank">nahuelescobedo@gmail.com </a> <i-->
  <!--              class="fa fa-envelope text-success"></i></li>-->
  <!--            <br>-->
  <!--            <li><a href="https://gitlab.com/Nahuele/EcoMapa" target="_blank">Código del sitio web (GitLab) </a> <i class="fa fa-gitlab text-success"></i></li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="row">
    <p><span class="text-danger font-weight-bold">AVISO: </span>¡Se buscan colaboradores Frontend! </p>
    <p>Con el fin de poder brindar un buen recurso a los usuarios, estamos requiriendo la colaboración especialmente de
      desarrolladores Frontend (también Backend) para mejorar nuestra página web.</p>
  </div>
  <div class="row">
    <p>Tu participación es muy importante. Sumate al equipo haciendo cualquier tipo de actividad dentro del
      proyecto!</p>
  </div>
  <div class="row">
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p class="text-right">Las actividades pueden ser:</p>
            </div>
            <div class="col">
              <ul>
                <li>Registrar proyectos en la base de datos</li>
                <li>Desarrollador Frontend</li>
                <li>Desarrollador Backend</li>
                <li>Diseño gráfico de logos e íconos</li>
                <li>Cualquier otro tipo de ayuda</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col ">
      <p>Envía tus dudas, consultas, reporte de problemas e ideas por e-mail:</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li><a href="mailto:nahuelescobedo@gmail.com" target="_blank">nahuelescobedo@gmail.com </a> <i
          class="fa fa-envelope text-success"></i></li>
        <br>
        <li><a href="mailto:iannbarbe@gmail.com" target="_blank">iannbarbe@gmail.com </a> <i
          class="fa fa-envelope text-success"></i></li>
        <br>
      </ul>
    </div>
  </div>

<div class="container justify-content-center grid ">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mt-4 mb-3">
<!--      <h2 class="text-center">Nuestro equipo</h2>-->
      <h2 class="text-center text-muted">Núcleo activo</h2>
    </div>
  </div>

  <div class="row justify-content-center fade-out-siblings ">
    <div class="col-md-4 ">
      <div class="card-box text-center carda">
        <div class="user-pic">
          <img src="../../assets/foto_nahuel.jpg" class="img-fluid" alt="User Pic">
        </div>
        <h4>Nahuel Escobedo</h4>
        <hr>
        <h6>Project Manager, Web Admin</h6>
        <hr>
        <div class="container">
          <div class="row text-muted mb-3">
            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i>Background:</p>
            <!--          <div class="w-100"></div>-->
            </div>
          <div class="row" >
            <p class="offset-1"><small><i class="fa fa-minus mr-2"></i></small>Licenciado en Biología (Universidad
              Favaloro)<br>
            <small><i class="fa fa-minus mr-2"></i></small>Becario Doctoral CONICET
            <br><small><i class="fa fa-minus mr-2"></i></small>Universidad de Quilmes, Grupo de
              Bioinformática Estructural</p>
          </div>
          <hr>
        </div>
    </div>
    </div>

    <div class="col-md-4 ">
      <div class="card-box text-center carda">
        <div class="user-pic">
          <img src="../../assets/foto_ian.jpeg" class="img-fluid" alt="User Pic">
        </div>
        <h4>Ian Barbe</h4>
        <hr>
        <h6>Project Manager, Resource Manager</h6>
        <hr>
        <div class="container">
          <div class="row text-muted mb-3">
            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i>Background:</p>
            <!--          <div class="w-100"></div>-->
          </div>
          <div class="row" >
            <p class="offset-1"><small><i class="fa fa-minus mr-2"></i></small>Licenciado en Biología (Universidad
              Favaloro)<br>
              <small><i class="fa fa-minus mr-2"></i></small>Ecólogo</p>
          </div>
          <hr>
        </div>
      </div>

    </div>
</div>
</div>
</div>
