<div class="container mt-5 mb-5">
  <!--  <div class="card mt-5">-->
  <!--    <div class="card-body">-->
  <!--      <div class="row justify-content-center">-->
  <!--        <div class="col ">-->
  <!--          <p>Tu participación es muy importante. Sumate al equipo haciendo cualquier tipo de actividad dentro del proyecto!</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row">-->
  <!--        <div class="col ">-->
  <!--          <p>Envía tus dudas, consultas, reporte de problemas e ideas por e-mail:</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row">-->
  <!--        <div class="col">-->
  <!--          <ul>-->
  <!--            <li><a href="mailto:nahuelescobedo@gmail.com" target="_blank">nahuelescobedo@gmail.com </a> <i-->
  <!--              class="fa fa-envelope text-success"></i></li>-->
  <!--            <br>-->
  <!--            <li><a href="https://gitlab.com/Nahuele/EcoMapa" target="_blank">Código del sitio web (GitLab) </a> <i class="fa fa-gitlab text-success"></i></li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="row">
    <p><span class="text-danger font-weight-bold">AVISO: </span>¡Se buscan colaboradores Frontend! </p>
    <p>Con el fin de poder brindar un buen recurso a los usuarios, estamos requiriendo la colaboración especialmente de
      desarrolladores Frontend (también Backend) para mejorar nuestra página web.</p>
  </div>
  <div class="row">
    <p>Tu participación es muy importante. Sumate al equipo haciendo cualquier tipo de actividad dentro del
      proyecto!</p>
  </div>
  <div class="row">
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p class="text-right">Las actividades pueden ser:</p>
            </div>
            <div class="col">
              <ul>
                <li>Registrar proyectos en la base de datos</li>
                <li>Desarrollador Frontend</li>
                <li>Desarrollador Backend</li>
                <li>Diseño gráfico de logos e íconos</li>
                <li>Cualquier otro tipo de ayuda</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col ">
      <p>Envía tus dudas, consultas, reporte de problemas e ideas por e-mail:</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li><a href="mailto:nahuelescobedo@gmail.com" target="_blank">nahuelescobedo@gmail.com </a> <i
          class="fa fa-envelope text-success"></i></li>
        <br>
        <li><a href="mailto:iannbarbe@gmail.com" target="_blank">iannbarbe@gmail.com </a> <i
          class="fa fa-envelope text-success"></i></li>
        <br>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <h4>Info de miembros</h4>
  </div>
  <div class="row m-4">
    <div class="col">
      <div class="card flex-row flex-wrap">
        <div class="border-0">
          <div class="text-center"><img src="../../assets/foto_nahuel.jpg" alt="" class="img-fluid  rounded-circle w-50"></div>
        </div>
        <div class="card-block px-2">
          <div class="card-title mb-3 mt-3"><h5>Nahuel Escobedo</h5></div>
          <div class="text-muted">
            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i> Background</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Licenciado en Biología (Universidad
              Favaloro)</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Actualmente Becario Doctoral CONICET
            </p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Universidad de Quilmes, Grupo de
              Bioinformática Estructural</p>
            <!--      <div class="w-100"></div>-->
            <p class="card-text"><i class="fa fa-paste  mr-1 "></i> Actividades en el proyecto</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Diseño backend y frontend del sitio
              web
            </p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Administración técnica</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Diseño de logos</p></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card flex-row flex-wrap">
        <div class="card flex-row flex-wrap">
          <div class="border-0">
            <div class="text-center"><img src="../../assets/foto_ian.jpeg" alt="" class="img-fluid  rounded-circle w-50"></div>
          </div>
        <div class="card-block px-2">
          <div class="card-title mb-3 mt-3"><h5>Ian Barbe</h5></div>
          <div class="text-muted">
            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i> Background</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Licenciado en Biología (Universidad
              Favaloro)</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Actualmente Becario Doctoral CONICET
            </p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>UBA, Ecólogo</p>
            <!--      <div class="w-100"></div>-->
            <p class="card-text"><i class="fa fa-paste  mr-1 "></i> Actividades en el proyecto</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Logística administrativa</p>
            <p class="offset-1"><small><i class="fa fa-circle-o mr-2"></i></small>Organización general</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="card">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
        <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>

  <div class="card">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/71u2fOofI-U/300x510" alt="Picture by Nathan Dumlao" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
        <p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="card">-->
<!--    <figure class="card__thumb">-->
<!--      <img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">-->
<!--      <figcaption class="card__caption">-->
<!--        <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>-->
<!--        <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>-->
<!--        <a href="" class="card__button">Read more</a>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--  </div>-->

<!--  <div class="card">-->
<!--    <figure class="card__thumb">-->
<!--      <img src="https://source.unsplash.com/71u2fOofI-U/300x510" alt="Picture by Nathan Dumlao" class="card__image">-->
<!--      <figcaption class="card__caption">-->
<!--        <h2 class="card__title">This Is Your Body And Brain On Coffee</h2>-->
<!--        <p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>-->
<!--        <a href="" class="card__button">Read more</a>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--  </div>-->

<!--  <div class="card">-->
<!--    <figure class="card__thumb">-->
<!--      <img src="https://source.unsplash.com/qXMpNtNp1uE/300x510" alt="Picture by Daniel Lincoln" class="card__image">-->
<!--      <figcaption class="card__caption">-->
<!--        <h2 class="card__title">Why You Should Bring Your Dog To Work</h2>-->
<!--        <p class="card__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>-->
<!--        <a href="" class="card__button">Read more</a>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--  </div>-->
<!--</div>-->
