<div class="container mt-5 mb-5">
  <div class="row">
    <p><span class="text-danger font-weight-bold">AVISO: </span>¡Se buscan colaboradores! </p>
    <p>Con el fin de poder brindar un buen recurso a los usuarios, estamos requiriendo la colaboración en cualquier área dentro del proyecto.</p>
  </div>
  <div class="row">
    <p>Sumate al equipo haciendo alguna de las siguientes actividades:</p>
  </div>
  <div class="row mt-2">
      <div class="row">
        <div class="col">
          <ul>
            <li>Registrar proyectos en la base de datos</li>
            <li>Desarrollador Frontend</li>
            <li>Desarrollador Backend</li>
            <li>Diseño gráfico de logos e íconos</li>
            <li>Contenido en redes sociales</li>
            <li>Escritura de artículos</li>
            <li>Búsqueda de información</li>
            <li>Administrador SEO y Analytics</li>
            <li>Difusión</li>
            <li>Aporte de fotografía y materiales</li>
            <li>Cualquier otro tipo de ayuda!</li>
          </ul>
        </div>
      </div>
  </div>
<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <p>Estamos recibiendo donaciones en pesos argentinos a través de Cafecito. Proximamente en criptomonedas!</p>
    </div>
      <div class="col-auto">
        <a href='https://cafecito.app/ecosys' rel='noopener' target='_blank'><img srcset='https://cdn.cafecito.app/imgs/buttons/button_6.png 1x, https://cdn.cafecito.app/imgs/buttons/button_6_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_6_3.75x.png 3.75x' src='https://cdn.cafecito.app/imgs/buttons/button_6.png' alt='Invitame un café en cafecito.app' /></a>
      </div>
  </div>
<!--  <div class="row mt-3">-->
<!--    <div class="col">-->
<!--      <p>Nuestras billeteras de criptomonedas:</p>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row mt-5 mb-5">
    <div class="col ">
      <p>Envía tus dudas, consultas, reporte de problemas e ideas por e-mail:</p><a href="mailto:grupo.ecosys@gmail.com" target="_blank">grupo.ecosys@gmail.com </a> <i
      class="fa fa-envelope text-success"></i>
    </div>
    <br>
  </div>
</div>


<div class="container justify-content-center mt-4">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mt-4 mb-3">
      <h2 class="text-center text-muted">Núcleo activo</h2>
    </div>
  </div>

  <div class="row justify-content-center fade-out-siblings ">
    <div class="col-md-4 ">
      <div class="card-box text-center">
        <div class="user-pic">
          <img src="../../assets/foto_nahuel.jpg" class="img-fluid" alt="User Pic">
        </div>
        <h4>Nahuel Escobedo</h4>
        <hr>
        <h6>Project Manager, Web Admin</h6>
        <hr>
        <div class="container">
<!--          <div class="row text-muted mb-3">-->
<!--            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i>Background:</p>-->
            <!--          <div class="w-100"></div>-->
<!--            </div>-->
          <div class="row" >
            <p class="offset-1"><small><i class="fa fa-minus mr-2"></i></small>Licenciado en Biología (Universidad
              Favaloro)<br>
            <small><i class="fa fa-minus mr-2"></i></small>Becario Doctoral CONICET
            <br><small><i class="fa fa-minus mr-2"></i></small>Universidad de Quilmes, Grupo de
              Bioinformática Estructural</p>
          </div>
          <hr>
        </div>
    </div>
    </div>

    <div class="col-md-4 ">
      <div class="card-box text-center">
        <div class="user-pic">
          <img src="../../assets/foto_ian.jpeg" class="img-fluid" alt="User Pic">
        </div>
        <h4>Ian Barbe</h4>
        <hr>
        <h6>Project Manager, Resource Manager</h6>
        <hr>
        <div class="container">
<!--          <div class="row text-muted mb-3">-->
<!--            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i>Background:</p>-->
<!--            &lt;!&ndash;          <div class="w-100"></div>&ndash;&gt;-->
<!--          </div>-->
          <div class="row" >
            <p class="offset-1"><small><i class="fa fa-minus mr-2"></i></small>Licenciado en Biología (Universidad
              Favaloro)<br>
              <small><i class="fa fa-minus mr-2"></i></small>Ecólogo</p>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card-box text-center">
        <div class="user-pic">
          <img src="../../assets/foto_rosario.jpeg" class="img-fluid" alt="User Pic">
        </div>
        <h4>Rosario Jacoby</h4>
        <hr>
        <h6>Writing Commission</h6>
        <hr>
        <div class="container">
<!--          <div class="row text-muted mb-3">-->
<!--            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i>Background:</p>-->
<!--            &lt;!&ndash;          <div class="w-100"></div>&ndash;&gt;-->
<!--          </div>-->
          <div class="row" >
            <p class="offset-1"><small><i class="fa fa-minus mr-2"></i></small>Docente y Lic. en Ciencias Biológicas (UBA)<br>
              <small><i class="fa fa-minus mr-2"></i></small>Doctorando en Ecología</p>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card-box text-center">
        <div class="user-pic">
          <img src="../../assets/foto_lucila.jpg" class="img-fluid" alt="User Pic">
        </div>
        <h4>Lucila Rivadeneira</h4>
        <hr>
        <h6>Community Manager</h6>
        <hr>
        <div class="container">
<!--          <div class="row text-muted mb-3">-->
<!--            <p class="card-text"><i class="fa fa-user-circle mr-1 "></i>Background:</p>-->
<!--            &lt;!&ndash;          <div class="w-100"></div>&ndash;&gt;-->
<!--          </div>-->
          <div class="row" >
            <p class="offset-1"><small><i class="fa fa-minus mr-2"></i></small>Lic. Comunicación Social (Universidad Belgrano)<br>
<!--              <small><i class="fa fa-minus mr-2"></i></small></p>-->
          </div>
          <hr>
        </div>
      </div>
    </div>
</div>
</div>

<!--  salon de la fama-->

  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 mt-4 mb-4">
        <!--      <h2 class="text-center">Nuestro equipo</h2>-->
        <h2 class="text-center text-muted">Colaboradores</h2>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-10 mx-auto ">
        <div class="career-search mb-60 ">
          <div class="filter-result fade-out-siblings">

            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 ">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                  JMA
                </div>
                <div class="job-content">
                  <h5 class="text-center text-md-left">Juan Martín Azerrat</h5>
                  <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                      <i class="zmdi zmdi-pin mr-2"></i> Becario CONICET/Doctorando en Ciencia Política (UNSAM)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 ">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                  SC
                </div>
                <div class="job-content">
                  <h5 class="text-center text-md-left">Sofía Crescio</h5>
                  <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                      <i class="zmdi zmdi-pin mr-2"></i>Lic. en Cs. Biológicas.
                    </li>
                    <li class="mr-md-4">
                      <i class="zmdi zmdi-pin mr-2"></i>Profesorado en Ciencias Biológicas  (UBA)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 ">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                  PR
                </div>
                <div class="job-content">
                  <h5 class="text-center text-md-left">Pablo "POLLO" Rodríguez</h5>
                  <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                      <i class="zmdi zmdi-pin mr-2"></i>Fotógrafo y guardaparque
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 ">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                  DB
                </div>
                <div class="job-content">
                  <h5 class="text-center text-md-left">Dante Borzone</h5>
                  <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                      <i class="zmdi zmdi-pin mr-2"></i>Estudiante de Lic. en Ciencias Biológicas (UF)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 ">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                  MF
                </div>
                <div class="job-content">
                  <h5 class="text-center text-md-left">Miguel Falcón</h5>
                  <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                      <i class="zmdi zmdi-pin mr-2"></i>Geógrafo y guardaparque
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 ">
              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                  BG
                </div>
                <div class="job-content">
                  <h5 class="text-center text-md-left">Belén Geoghegan</h5>
                  <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                      <i class="zmdi zmdi-pin mr-2"></i>Lic. en Ciencias Biológicas de la Universidad de Buenos Aires (UBA)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
<!--            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 ">-->
<!--              <div class="job-left my-4 d-md-flex align-items-center flex-wrap">-->
<!--                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">-->
<!--                  JMA-->
<!--                </div>-->
<!--                <div class="job-content">-->
<!--                  <h5 class="text-center text-md-left">JUAN MARTÍN AZERRAT</h5>-->
<!--                  <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">-->
<!--                    <li class="mr-md-4">-->
<!--                      <i class="zmdi zmdi-pin mr-2"></i> Becario CONICET/Doctorando en Ciencia Política (UNSAM)-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
