<div class="container">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="font-weight-bold text-muted">¿Quiénes somos?</h6>
        </div>
        <div class="card-body">
          <p>Somos un grupo que cree que para conservar el ambiente hay que concientizar, hay que llevarle el
            conocimiento al pueblo, que se mueve en otra escala, quizás sin acceso a la
            información. Hay que llevar la información al ciudadano común. Se busca plantar la semilla para lograr el
            tránsito del conocimiento valorando así también el trabajo científico. El mundo científico (y, por ende, la
            transmisión del conocimiento) debe enfocarse al ciudadano que no hace ciencia y, sin embargo, tiene interés en ella
            (y si no lo tiene ¡hay que generarlo!).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="font-weight-bold text-muted">Divulgación de proyectos sobre:</h6>
        </div>
        <div class="card-body">
          <ul>
            <li >Agroecología y soberanía alimentaria (huertas, cooperativas, ONGs)</li>
            <li>Conservación de fauna (proyectos de investigación sobre la temàtica)</li>
            <li>Conservación de flora (proyectos de investigación sobre la tematica)</li>
            <li>Ambiente y sociedad (proyectos de investigación sobre impacto ambiental, ambiente y políticas
              públicas,etc)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
