<div class="container">
  <div class="row mt-3">
    <div class="col">
      <div class="row">
        <div class="border-0">
          <div class="text-center"><img src="../../assets/EcoSyS_largo_sin_fondo.png" alt="" class="img-fluid w-50"></div>
        </div>
      </div>
      <div class="row">
        <div class="mt-5">
          <tabset class="">
            <tab heading="Acerca de" id="tab1">
              <div class="container mt-5 mb-5">
                  <p>Generalmente el concepto de Ecología se interpreta desde la visión tradicional, que entiende los sistemas naturales como aquellos inalterados por el ser humano y se asocia a lo verde, a los recursos y a la relación de los organismos con el ambiente. Bajo este concepto, se suele pasar por alto el rol influyente de las sociedades o poblaciones de personas sobre el resto del ecosistema que los rodea, y el cómo pueden alterar su riqueza y abundancia.
                  </p>
                <p>El término <strong>Ecología Social</strong> surge entonces como un juego de palabras o una definición casi redundante. Es una disciplina que, como toda ciencia con implicancia en los seres vivos y el ambiente, está socialmente construida. Esto significa que busca indagar en los múltiples vínculos entre el ambiente y las acciones humanas, ya que estas en realidad siempre estarán ligadas a lo social y lo político. </p>
                <p>Se sabe que diferentes problemáticas ambientales son causadas debido a la desigualdad social, y si se continúa ignorando el origen del problema esta degradación del ecosistema a su vez generará mayor desigualdad. Es decir que, si se quiere comprender tanto la degradación de los ecosistemas como la desigualdad social, resulta útil adoptar una perspectiva que abarque ambas dimensiones en conjunto.</p>
                <p>La Ecología Social evoca no solo la puesta en valor del uso responsable del ecosistema desde un punto de vista de conservación biológica, sino a través de la integración social de todos los actores involucrados, reconociendo su rol imprescindible para la conservación y el funcionamiento de ese ecosistema, entendido como un espacio de convivencia equilibrado en el que el ser humano hace un uso responsable del medioambiente en una relación de interdependencia con la naturaleza, habitando, disponiendo y cuidando de los recursos. </p>
                <p>Asimismo, el manejo de los recursos naturales debe recaer en manos de quienes habitan en donde se localizan estos recursos y sean afectados directamente por la alteración de los mismos. En su defecto, el pueblo debe delegar la autoridad a sus representantes de una manera democrática, generando así una soberanía que debe ser absoluta, perpetua, indivisible, inalienable e imprescriptible. </p>
                <p>La <strong>Ecología Soberana</strong> surge como una dimensión de la ecología política, desde el balance de poder, de la libertad y posibilidad del pueblo de tomar decisiones influyentes, y de la necesidad de tener una independencia por parte de cada comunidad sobre el manejo de los recursos (mineros, alimentarios, energéticos, etc) sin imposiciones o restricciones de cualquier tipo. Es la reivindicación de un principio muy simple: que la población adquiera un mayor protagonismo en la toma de decisiones sobre los recursos, entendiendo la importancia que tienen para su economía, salud y ambiente. </p>
                <p>La Ecología Soberana apunta a una meta política. Si entendemos como política a todo lo relativo a transacciones y tenencia de poder en una sociedad, y si entendemos al poder como la autoridad en la toma de decisiones y la eliminación de impedimentos para el desarrollo social y la innovación, se podría interpretar a la soberanía como la transferencia del poder de los gobernantes y las instituciones tradicionales a los actores locales, que son a su vez parte de ese ecosistema. En términos teóricos, se estaría revalorizando el poder real de los ciudadanos sobre su territorio, en contraposición al poder formal, donde está hoy concentrada la toma de decisión. A este respecto, el conocimiento se convierte en una herramienta de liberación del sujeto para influenciar a través de la toma de conciencia para generar cambios en las decisiones del poder formal.</p>
              </div>
            </tab>
            <tab heading="Misión">
              <div class="container mt-5 mb-5">
                <ul>
                  <li>Difundir y visibilizar todo tipo de experiencias agroecológicas, proyectos de investigación y acciones acerca de la conservación de la biodiversidad y otras problemáticas socioambientales, y a su vez asociaciones abocadas a la educación y la concientización ecológica.
                  </li>
                  <li>
                    Generar vínculos entre diferentes sectores sociales: un punto de unión e intercambio entre la población, las organizaciones ambientales, el sector productivo, el sector privado y estatal y el sector académico de especialistas e investigadores.
                  </li>
                  <li>
                    Brindar acceso libre y gratuito a la información sobre los proyectos actuales, las acciones, problemáticas y soluciones sobre temáticas socioambientales  para fines educativos y de colaboración interdisciplinaria.
                  </li>
                  <li>
                    Conectar al productor agroecológico con cadenas de comercialización y difusión para sus productos con el fin de apoyar y fomentar la soberanía alimentaria y la producción sustentable.
                  </li>
                  <li>
                    Promover la participación ciudadana en actividades que contribuyan al cuidado y el uso sustentable del ambiente.
                  </li>
                </ul>
              </div>
            </tab>
            <tab heading="Visión">
              <div class="container mt-5 mb-5">
                <ul>
                  <li>
                    Esperamos que los nuevos vínculos generados entre los sectores sociales promuevan un diálogo igualitario y eficaz para encontrar soluciones a problemáticas socioambientales.
                  </li>
                  <li>
                    A través del libre acceso a la información proyectamos aumentar la representatividad ciudadana en la toma de decisiones que afectan sus libertades y el pleno goce del ambiente que habitan y sus recursos.
                  <li>
                  Deseamos que esta información y los vínculos generados se utilicen también como una herramienta educativa, para que las nuevas generaciones sean más responsables con el medio ambiente. De esta misma forma, el diálogo y el intercambio generaría un mayor sentido de pertenencia y comunidad, con el altruismo como valor indispensable para la sustentabilidad y la sostenibilidad.
                </li>
                </ul>

              </div>
            </tab>
            <tab heading="Licencia">
              <div class="container mt-5 mb-5">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Mapa EcoSyS</span> por <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.ecosys-mapa.org" property="cc:attributionName" rel="cc:attributionURL">Ecología Social y Soberana</a> se distribuye bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.
                <hr class="m-5">
                <div >

                  <p>Este resumen legible para personas no sustituye
                    <a href="https://creativecommons.org/licenses/by/4.0/legalcode.es" target="_blank" rel="noopener">la licencia</a>.</p>
                  <p>Los contenidos de la web están bajo licencia
                    <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank" rel="noopener">Atribución 4.0 Internacional (CC BY 4.0)</a>. Esto signfica que:</p>
                  <br>
                  <h5 >Usted es libre de</h5>
                  <ul>
                    <li>
                      <p><strong>Compartir</strong> — copiar y redistribuir el material en cualquier medio o formato</p>
                    </li>
                    <li>
                      <p><strong>Adaptar</strong> — remezclar, transformar y construir a partir del material para cualquier propósito, incluso comercialmente.</p>
                    </li>
                  </ul>
                  <h5 >Bajo los siguientes términos:</h5>
                  <ul>
                    <li>
                      <p><strong>Atribución</strong> — Usted debe dar crédito de manera adecuada, brindar un enlace a la licencia, e indicar si se han realizado cambios. Podés hacerlo en cualquier forma razonable, pero no de forma tal que sugiera que usted o su uso tienen el apoyo de la licenciante.</p>
                    </li>
                    <li>
                      <p><strong>No hay restricciones adicionales</strong> — No podés aplicar términos legales ni medidas tecnológicas que restrinjan legalmente a otras a hacer cualquier uso permitido por la licencia.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </tab>
            <tab heading="Código de Conducta">
              <div class="container mt-5 mb-5">
                <markdown  [src]="'../../../../../CODE_OF_CONDUCT.md'"></markdown>

              </div>
            </tab>
          </tabset>
        </div>
      </div>

    </div>
  </div>
</div>
