<hr>
<div class="container">
  <div class="row">
    <div class="col" *ngIf="redes && redes.facebook">
      <div class="row">
        <p class="text-muted">Facebook
          <i class="fa fa-facebook-square"></i></p>
      </div>
      <div class="row">
        <p>{{redes.facebook}}</p>
      </div>
    </div>
    <div class="col" *ngIf="redes && redes.instagram">
      <div class="row">
        <p class="text-muted">Instagram
          <i class="fa fa-instagram"></i></p>
      </div>
      <div class="row">
        <p>{{redes.instagram}}</p>
      </div>
    </div>
    <div class="col" *ngIf="redes && redes.twitter">
      <div class="row">
        <p class="text-muted">Twitter
          <i class="fa fa-twitter-square"></i></p>
      </div>
      <div class="row">
        <p>{{redes.twitter}}</p>
      </div>
    </div>
    <div class="col" *ngIf="redes && redes.youtube">
      <div class="row">
        <p class="text-muted">YouTube
          <i class="fa fa-youtube-square"></i></p>
      </div>
      <div class="row">
        <p>{{redes.youtube}}</p>
      </div>
    </div>
    <div class="col" *ngIf="redes && redes.researchgate">
      <div class="row">
        <p class="text-muted">ResearchGate
          <i class="fa fa-researchgate"></i></p>
      </div>
      <div class="row">
        <p>{{redes.researchgate}}</p>
      </div>
    </div>
  </div>
</div>
