admin? {{isAdmin}}


<ng-template #modalEditar>
    <div class="modal-body">
        <app-editar ></app-editar>
    </div>
</ng-template>

<ng-template #spinner class="row justify-content-md-center">
  <div class="col">
    <div class="spinner-border text-success " role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<div class="container">
  <div *ngIf="projObj; else spinner">
    <div *ngIf="projObj && projObj.length > 0; else noprojectsfound">
      <h3 class="text-center mt-3 mb-3 ">Tus proyectos</h3>
      <ul>
        <div *ngFor="let item of projObj">
<!--          <h3> {{item | json}}</h3>-->
          <div *ngIf="isAdmin || item.userUid === userUid">
            <div class="card text-center mt-2 mb-2 border-info">
              <div class="card-header text-info border-info" (click)="goToProject(item.id)" style="cursor: pointer">
                <div class="row justify-content-md-center">
                  <div class="col-auto">
                    <p class="card-text"><strong>{{item.detalles['titulo_extendido'] | json}}</strong></p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p><strong>user id:</strong> {{item.userUid}}</p>
                  </div>
                  <div class="col">
                    <p><strong>nombre:</strong> {{item.detalles['nombre'] | json}} </p>
                  </div>
                  <div class="col">
                    <p><strong>coordenadas:</strong> {{item.detalles['coordenadas'] | json}} </p>
                  </div>
                  <div class="col">
                    <p><strong>ciudad:</strong> {{item.detalles['ciudad'] | json}} </p>
                  </div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col-auto">
                    <p>Id proyecto: {{item.id}}</p>
                  </div>
                </div>
              </div>
              <div class="row justify-content-md-center mb-1">
                <div *ngIf="isAdmin || item.userUid === userUid; else noeditar ">
                  <button class="btn btn-warning"
                          (click)="aceptarEditar(modalEditar);borrarEditarProyecto($event, item, 'editar')"> Editar
                  </button>
                </div>
                <div *ngIf="isAdmin || item.userUid === userUid; else noborrar ">
                  <div class="col-auto">
                    <button class="btn btn-danger"
                            (click)="openModal(modalconfirm); borrarEditarProyecto($event, item, 'borrar')"> Borrar
                    </button>
                  </div>
                </div>
                <ng-template #noborrar>
                  <div class="col-auto">
                    <button class="btn btn-danger-outline-danger" disabled> Borrar
                    </button>
                  </div>
                </ng-template>
                <ng-template #noeditar>
                  <div class="col-auto">
                    <button class="btn btn-warning" disabled> Editar
                    </button>
                  </div>
                </ng-template>
              </div>

            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>

<ng-template #noprojectsfound>
  <h3 class="text-center mt-4">No hay proyectos</h3>
</ng-template>


<ng-template #modalconfirm>
  <div class="modal-body text-center">
    <p>Confirma la operación?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Si</button>
    <button type="button" class="btn btn-primary" (click)="declineDelete()">No</button>
  </div>
</ng-template>

