<div class="container mb-5 mt-3">
  <h3 class="text-center">Editar proyecto</h3>
  <br>
  <div class="row justify-content-md-center">

  </div>
  <br>
  <!--  <h2>{{this.proyectoService.selectedProject['userUid']}}</h2>-->
  <form (submit)="submit()" [formGroup]="registerForm" name="formPro">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Proyecto ID</label>
          <input type="text" class="form-control form-control-lg"

                 formControlName="projectid"
                 placeholder="PRO_Martín_García_ID"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles.projectid" name="projectid">
          <div class="invalid-feedback">
            El ID del proyecto es requerido (sin espacios, minimo 6 caracteres)
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label>Nombre del Proyecto</label>
          <input type="text" class="form-control" formControlName="nombre"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles.nombre" name="nombre">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>email principal</label>
          <input type="email" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('email').invalid}"
                 formControlName="email" [(ngModel)]="this.proyectoService.selectedProject.detalles['email']">
          <!--          <div class="invalid-feedback">-->
          <!--            email requerido-->
          <!--          </div>-->
        </div>
        <!--        <div *ngIf="email.invalid && !email.pristine">-->
        <!--          <p *ngIf="email.errors.email" style="color: red">Un email es requerido</p>-->
        <!--        </div>-->
      </div>

      <div class="col">
        <div class="form-group">
          <label for="tipo_enfoque">Tipo</label>
          <select class="form-control" id="tipo_enfoque"
                  [ngClass]="{'is-invalid': registerForm.get('tipo_enfoque').invalid}"
                  formControlName="tipo_enfoque"
                  [(ngModel)]="this.proyectoService.selectedProject.detalles['tipo_enfoque']">
            <option disabled selected>Seleccione tipo</option>
            <option>Conservación de fauna</option>
            <option>Agroecología y soberanía alimentaria</option>
            <option>Conservación de flora</option>
            <option>Ambiente y sociedad</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Enfoque</label>
        <input type="text" class="form-control" placeholder="Ecologia" formControlName="enfoque"
               [(ngModel)]="this.proyectoService.selectedProject.detalles['enfoque']">
      </div>
      <div class="col">
        <label>Estado actual</label>
        <input type="text" class="form-control" placeholder="En curso" formControlName="estado_actual"
               [(ngModel)]="this.proyectoService.selectedProject.detalles['estado_actual']">
      </div>

      <div class="col">
        <label>Institucion</label>
        <input type="text" class="form-control" placeholder="Universidad del Litoral" formControlName="institucion"
               [(ngModel)]="this.proyectoService.selectedProject.detalles['institucion']">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label for="titulo_extendido">Titulo extendido</label>
      <textarea class="form-control" id="titulo_extendido" formControlName="titulo_extendido" rows="1"
                [(ngModel)]="this.proyectoService.selectedProject.detalles['titulo_extendido']"></textarea>
    </div>
    <div class="form-group">
      <label for="descripcion_proyecto">Descripción</label>
      <textarea class="form-control" id="descripcion_proyecto" formControlName="descripcion" rows="2"
                [(ngModel)]="this.proyectoService.selectedProject.detalles['descripcion']"></textarea>
    </div>
    <div class="form-group">
      <label for="resumen">Resumen</label>
      <textarea class="form-control" id="resumen" formControlName="resumen" rows="2"
                [(ngModel)]="this.proyectoService.selectedProject.detalles['resumen']"></textarea>
    </div>
    <div class="form-group">
      <label for="resultados">Resultados</label>
      <textarea class="form-control" id="resultados" formControlName="resultados" rows="1"
                [(ngModel)]="this.proyectoService.selectedProject.detalles['resultados']"></textarea>
    </div>

    <div formGroupName="redes_sociales">
      <div class="row">
        <div class="form-group col">
          <label>Facebook</label>
          <input type="text" class="form-control" formControlName="facebook" id="facebook"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['facebook']">
          <!--          <input type="text" class="form-control" formControlName="facebook" id="facebook" >-->
        </div>
        <div class="form-group col">
          <label>Instagram</label>
          <input type="text" class="form-control" formControlName="instagram"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['instagram']">
          <!--          <input type="text" class="form-control" formControlName="instagram"  >-->
        </div>
        <div class="form-group col">
          <label>Twitter</label>
          <input type="text" class="form-control" formControlName="twitter"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['twitter']">
          <!--          <input type="text" class="form-control" formControlName="twitter"  >-->
        </div>
        <div class="form-group col">
          <label>Youtube</label>
          <input type="text" class="form-control" formControlName="youtube"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['youtube']">
          <!--          <input type="text" class="form-control" formControlName="youtube"   >-->
        </div>
      </div>
    </div>

    <hr>
    <div>
      <a class="btn btn-warning" type="button" (click)="agregarCoordenadas()">Agregar Coordenadas</a>
      <div *ngIf="listacoordenadasFromDb as coordenadas">
        <div *ngFor="let coordenada of coordenadas; let u = index">
          <!--      <div class="row justify-content-md-center" formGroupName="coordenadas" *ngFor="let link of coordenadas.controls; let u = index">-->
<!--          <div [formGroupName]="u">-->
            <div class="row justify-content-md-center form-group">
              <label class="col-auto" [attr.for]="'link' + u"><strong>Latitud</strong></label>
              <div class="col-auto">
                <input type="text" [attr.id]="'link' + u" class="form-control" [value]="coordenada['latitud']" disabled>
              </div>
              <label class="col-auto" [attr.for]="'link' + u"><strong>Longitud</strong></label>
              <div class="col-auto">
                <input type="text" [attr.id]="'link' + u" class="form-control" [value]="coordenada['longitud']" disabled>
              </div>
              <div class="col-auto">
                <button class="btn btn-danger btn-sm" type="button" (click)="removerItem(u,'coordenadas', 'anterior')">
                  Ⓧ
                </button>
              </div>
            </div>
<!--          </div>-->
        </div>
      </div>
      <hr>

      <div class="row justify-content-md-center" formGroupName="coordenadas"
           *ngFor="let link of coordenadas.controls; let r = index">
        <div [formGroupName]="r">
          <div class="row justify-content-md-center form-group">
            <label class="col-auto" [attr.for]="'link' + r"><strong>Latitud</strong></label>
            <div class="col-auto">
              <input type="text" [attr.id]="'link' + r" class="form-control" formControlName="latitud" name="latitud" >
            </div>
            <label class="col-auto" [attr.for]="'link' + r"><strong>Longitud</strong></label>
            <div class="col-auto">
              <input type="text" [attr.id]="'link' + r" class="form-control" formControlName="longitud" name="longitud">
            </div>
            <div class="col-auto">
              <button class="btn btn-danger btn-sm" type="button" (click)="removerItem(r,'coordenadas', 'current')">Ⓧ
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="row justify-content-md-center"><h5>Datos del lugar</h5></div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Pais" formControlName="pais"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['pais']">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Provincia" formControlName="provincia"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['provincia']">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['ciudad']">
        </div>
        <div class="col">
          <div class="form-group">
            <select class="form-control" formControlName="tipo_sitio"
                    [(ngModel)]="this.proyectoService.selectedProject.detalles['tipo_sitio']">
              <option value="" selected disabled>Seleccione tipo de sitio</option>
              <option>Parque Nacional</option>
              <option>Reserva Nacional</option>
              <option>Otro</option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <div class="row justify-content-md-center ">
        <!--        <div class="form-group col" tooltip="Lat,Long (sin espacios, separados por coma) Es a la inversa de Google">-->
        <!--          <label ><span>Coordenadas</span></label>-->
        <!--          <input type="text" class="form-control"-->
        <!--                 formControlName="coordenadas"-->
        <!--                 placeholder="-58.2595914,-34.1824176"-->
        <!--                 [(ngModel)]="this.proyectoService.selectedProject.detalles['coordenadas']"-->
        <!--                 [ngClass]="{'is-invalid': registerForm.get('projectid').invalid}" >-->
        <!--          <div class="invalid-feedback">-->
        <!--            Coordenadas con formato especifico requeridas-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="form-group col">
          <label>Año de inicio</label>
          <input type="text" class="form-control" formControlName="ano_inicio" placeholder="2020"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['ano_inicio']">
        </div>
        <div class="form-group col">
          <label>Tipo de estudio</label>
          <input type="text" class="form-control" formControlName="tipo_estudio" placeholder="Especie exótica invasora"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['tipo_estudio']">
        </div>
        <div class="form-group col">
          <label>Web</label>
          <input type="text" class="form-control" formControlName="web"
                 [(ngModel)]="this.proyectoService.selectedProject.detalles['web']">
        </div>
      </div>
    </div>
    <hr>

    <div class="form-group">
      <a class="btn btn-warning" type="button" (click)="agregarlinkvideo()">Agregar Videos</a>
    </div>
    <div *ngIf="listafotosFromDB as videos">
      <div *ngFor="let video of videos; let i = index">
        <!--      <h1>{{link.value['link']}}</h1>-->
        <!--          <div [formGroupName]="i">-->
        <div class="form-group row justify-content-md-center">
          <label class="col-auto" [attr.for]="'link' + i">Link</label>
          <div class="col-auto">
            <input type="text" [attr.id]="'link' + i" class="form-control" [value]="video['link']" disabled>
          </div>
          <label class="col-auto" [attr.for]="'link' + i">Descripcion</label>
          <div class="col-auto">
            <input type="text" [attr.id]="'link' + i" class="form-control" [value]="video['descripcion']" disabled>
            <!--            <input type="text" [attr.id]="'link' + i" class="form-control" formControlName="descripcionfoto" [(ngModel)]="this.proyectoService.selectedProject.detalles['linksfotos']['descripcion']">-->
          </div>
          <div class="col-auto">
            <button class="btn btn-danger btn-sm" (click)="removerItem(i, 'videos', 'anterior')">Remover anterior
            </button>
          </div>
        </div>
        <!--          </div>-->
      </div>
    </div>


    <div formGroupName="linksvideos" *ngFor="let link of linksvideos.controls; let i = index">
      <!--      <h1>{{link.value['link']}}</h1>-->
      <div [formGroupName]="i">
        <div class="form-group row justify-content-md-center">
          <label class="col-auto" [attr.for]="'link' + i">Link</label>
          <div class="col-auto">
            <input type="text" [attr.id]="'link' + i" class="form-control" formControlName="link" name="link">
          </div>
          <label class="col-auto" [attr.for]="'link' + i">Descripcion</label>
          <div class="col-auto">
            <input type="text" [attr.id]="'link' + i" class="form-control" name="descripcion" formControlName="descripcion">
            <!--            <input type="text" [attr.id]="'link' + i" class="form-control" formControlName="descripcionfoto" [(ngModel)]="this.proyectoService.selectedProject.detalles['linksfotos']['descripcion']">-->
          </div>
          <div class="col-auto">
            <button class="btn btn-danger btn-sm" type="button" (click)="removerItem(i,'videos', 'current')">Remover
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="form-group">
      <a class="btn btn-warning " type="button" (click)="agregarPersonal()">Agregar Personal</a>
      <div *ngIf="listapersonalFromDb as personal">
        <div *ngFor="let person of personal; let h = index">
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + h">Nombre/s</label>
              <input type="text" [attr.id]="'link' + h" class="form-control" [value]="person.nombre_personal" disabled>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Apellido/s</label>
              <input type="text" [attr.id]="'link' + h" class="form-control" [value]="person.apellido_personal"
                     disabled>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Rol</label>
              <!--                    <input type="text" [attr.id]="'link' + h" class="form-control" formControlName="rol">-->
              <div class="form-group">
                <select class="form-control" [attr.id]="'link' + h" [value]="person.rol" disabled>
                  <option>Guardaparque</option>
                  <option>Director</option>
                  <option>Audiovisual</option>
                  <option>Voluntario de campo</option>
                  <option>Codirector/a</option>
                  <option>Investigador principal</option>
                  <option>Otro</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label [attr.for]="'link' + h">Género</label>
              <select class="form-control" [attr.id]="'link' + h" [value]="person.genero" disabled>
                <option value="" selected disabled></option>
                <option>Femenino</option>
                <option>Masculino</option>
                <option>Otro</option>
              </select>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Fecha de nacimiento</label>
              <input type="text" class="form-control" bsDatepicker
                     [attr.id]="'link' + h" [value]="person.fecha_nacimiento" disabled>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + h">Pais de residencia</label>
              <input type="text" [attr.id]="'link' + h" class="form-control" [value]="person.pais_residencia" disabled>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Provincia de residencia</label>
              <input type="text" [attr.id]="'link' + h" class="form-control" [value]="person.provincia_residencia"
                     disabled>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">email</label>
              <input type="text" [attr.id]="'link' + h" class="form-control" [value]="person.email_personal" disabled>
            </div>
            <div class="col-auto align-self-end">
              <button class="btn btn-danger btn-sm" (click)="removerItem(h, 'personal', 'anterior')">Remover anterior
              </button>
            </div>
          </div>
          <br>
                          <div class="row ">
                            <div class="form-group col" >
                              <label [attr.for]="'link' + h">Facebook</label>
                              <input type="text" [attr.id]="'link' + h" class="form-control"  disabled >
                            </div>
                            <div class="form-group col">
                              <label [attr.for]="'link' + h">Instagram</label>
                              <input type="text" [attr.id]="'link' + h" class="form-control"  [value]="person.redes_sociales_personal.instagram" disabled>
                            </div>
                            <div class="form-group col">
                              <label [attr.for]="'link' + h">Twitter</label>
                              <input type="text" [attr.id]="'link' + h" class="form-control"  [value]="person.redes_sociales_personal.twitter" disabled>
                            </div>
                            <div class="form-group col">
                              <label [attr.for]="'link' + h">Youtube</label>
                              <input type="text" [attr.id]="'link' + h" class="form-control"  [value]="person.redes_sociales_personal.youtube" disabled>
                            </div>
                            <div class="form-group col">
                              <label [attr.for]="'link' + h">Research Gate</label>
                              <input type="text" [attr.id]="'link' + h" class="form-control"  [value]="person.redes_sociales_personal.researchgate" disabled>
                            </div>
                          </div>
          <hr>
        </div>
        <!--              <hr>-->
        <!--            </div>-->
        <!--          </div>-->
      </div>


      <div formGroupName="personal" *ngFor="let person of personal.controls; let x = index">
        <div [formGroupName]="x">
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + x">Nombre/s</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="nombre_personal">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Apellido/s</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="apellido_personal">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Rol</label>
              <!--            <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="rol">-->
              <div class="form-group">
                <select class="form-control" [attr.id]="'link' + x" formControlName="rol">
                  <option value="" selected disabled>Seleccione el rol</option>
                  <option>Guardaparque</option>
                  <option>Director</option>
                  <option>Audiovisual</option>
                  <option>Voluntario de campo</option>
                  <option>Codirector/a</option>
                  <option>Investigador principal</option>
                  <option>Otro</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label [attr.for]="'link' + x">Género</label>
              <select class="form-control" [attr.id]="'link' + x" formControlName="genero">
                <option value="" selected disabled></option>
                <option>Femenino</option>
                <option>Masculino</option>
                <option>Otro</option>
              </select>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Fecha de nacimiento</label>
              <input type="text" class="form-control" bsDatepicker
                     formControlName="fecha_nacimiento" [attr.id]="'link' + x">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + x">Pais de residencia</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="pais_residencia">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Provincia de residencia</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="provincia_residencia">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">email</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="email_personal">
            </div>
            <div class="col-auto align-self-end">
              <button class="btn btn-danger" (click)="removerItem(x,'personal','current')">Remover</button>
            </div>
          </div>
          <br>
          <div class="row " formGroupName="redes_sociales_personal">
            <div class="form-group col">
              <label [attr.for]="'link' + x">Facebook</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="facebook">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Instagram</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="instagram">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Twitter</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="twitter">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Youtube</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="youtube">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Research Gate</label>
              <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="researchgate">
            </div>
          </div>
        </div>
        <hr>
      </div>

    </div>
    <hr>
    <div
      *ngIf="this.registerForm.value.tipo_enfoque != 'Agroecología y soberanía alimentaria' && this.registerForm.value.tipo_enfoque != 'Ambiente y sociedad'">
      <h2>Registrar especies</h2>
      <div class="form-group">
        <a class="btn btn-warning" type="button" (click)="agregarEspecie()">Agregar Especies</a>
        <div *ngIf="listasppFromDB as especies">
          <div *ngFor="let especie of especies; let y = index">
            <div class="form-group row justify-content-md-center">
              <div class="col-auto">
                <label [attr.for]="'link' + y">SPOB</label>
                <input type="text" [attr.id]="'link' + y" class="form-control"
                       [value]="especie['spob']" disabled>
              </div>
              <div class="col-auto">
                <label [attr.for]="'link' + y">Nombre vulgar</label>
                <input type="text" [attr.id]="'link' + y" class="form-control" [value]="especie['nombre_vulgar']"
                       disabled>
              </div>
              <div class="form-group col-auto">
                <label [attr.for]="'link' + y">tso</label>
                <select class="form-control" [attr.id]="'link' + y" [value]="especie['tso']" disabled>
                  <option [ngValue]="null" selected></option>
                  <option>Nativa</option>
                  <option>Invasora</option>
                  <option>Otro</option>
                </select>
              </div>
              <!--            <button class="btn btn-secondary btn-sm align-bottom " (click)="removerItem(y, 'especies', 'anterior')">Remover anterior</button>-->
              <div class="col-auto align-text-bottom">
                <button class="btn btn-danger btn-sm" (click)="removerItem(y, 'especies', 'anterior')">Remover
                  anterior
                </button>
              </div>
            </div>
            <!--          </div>-->
          </div>
        </div>


        <div formGroupName="especies" *ngFor="let spp of especies.controls; let p = index">
          <div [formGroupName]="p">
            <div class="row justify-content-md-center">
              <div class="col-auto">
                <label [attr.for]="'link' + p">SPOB</label>
                <input type="text" [attr.id]="'link' + p" class="form-control" placeholder="Lontra provocax"
                       formControlName="spob" (click)="iucnGet(p, spp.value.spob)">
              </div>
              <div class="col-auto">
                <label [attr.for]="'link' + p">Nombre vulgar</label>
                <input type="text" [attr.id]="'link' + p" class="form-control" formControlName="nombre_vulgar">
              </div>
              <div class="form-group">
                <label [attr.for]="'link' + p">tso</label>
                <select class="form-control" [attr.id]="'link' + p" formControlName="tso">
                  <option [ngValue]="null" selected></option>
                  <option>Nativa</option>
                  <option>Invasora</option>
                  <option>Otro</option>
                </select>
              </div>
              <div class="col-auto">
                <button class="btn btn-danger btn-sm" (click)="removerItem(p, 'especies', 'current')">Remover</button>
              </div>
            </div>
            <div class="row justify-content-md-center" >
                <div *ngIf="iucndetalleslist[spp.value.spob] as value">
                  <span><p style="font-size:12px; color:red">Especie reconocida por la iucnredlist !</p>
                <p style="font-size:10px">Clase: {{value.class}}, Familia: {{value.family}},
                  taxonid: {{value.taxonid}}, category: {{value.category}},
                assessor: {{value.assessor}}</p></span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row justify-content-md-center ">
      <div class="col-auto">
        <button class="btn btn-success btn-lg"
                type="submit"
                [disabled]="!registerForm.valid"
                style="margin-top: 3rem">Actualizar
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-light btn-lg"
                type="button"
                (click)="borrarForm()"
                style="margin-top: 3rem">Vaciar Campos
        </button>
      </div>
    </div>
  </form>
</div>


