<br>
<div class="container mt-3 mb-7">
  <div *ngIf="detallesPro" class=" ">
    <h4>{{detallesPro['nombre']}}</h4>

    <hr>
    <div>Titulo extendido: {{detallesPro['titulo_extendido']}}</div>

    <hr>
    <div>Enfoque: {{detallesPro['tipo_enfoque']}}</div>
    <hr>
    <div>Estado actual: {{detallesPro['estado_actual']}}</div>

    <hr>
    <div *ngIf="imagenes" class="card mt-1 mb-2">
      <div class="card-title justify-content-md-center"><h5>Fotos</h5></div>
      <div class="card-body">
        <div *ngFor="let foto of imagenes">
          <img [src]="foto" class="img-fluid" alt="Responsive image" style="border: 1px solid #ddd;
          border-radius: 4px;padding: 5px;width: 200px;">
        </div>
      </div>
    </div>
    <div>Coordenadas: </div>
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">longitud</th>
        <th scope="col">latitud</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let coord of detallesPro['coordenadas']">
        <td>{{coord.latitud}}</td>
        <td>{{coord.longitud}}</td>
      </tbody>
    </table>
    <hr>
    <div>Pais: {{detallesPro.pais}}</div>
    <div>Tipo de Sitio: {{detallesPro['tipo_sitio']}}</div>
    <div>Titulo extendido: {{detallesPro['ciudad']}}</div>
  </div>
  <br>
  <!--  <hr style="width:50%;text-align:left;margin-left:0">-->

  <div *ngIf="detallesPro['especies']; else spinner">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">NOMBRE VULGAR</th>
        <th scope="col">TSO</th>
        <th scope="col">SPOB</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let especie of detallesPro.especies">
        <td>{{especie['nombre_vulgar']}}</td>
        <td>{{especie['tso']}}</td>
        <td>{{especie['spob']}}</td>
      </tbody>
    </table>
  </div>
  <hr>
  <div>
    Resumen: {{detallesPro['resumen']}}
  </div>
  <hr>
  <div>anio de inicio: {{detallesPro['ano_inicio']}}</div>
</div>
<br>


<ng-template #spinner class="row justify-content-md-center">
<!--  <div class="col">-->
    <div class="spinner-border text-success " role="status">
      <span class="sr-only">Loading...</span>
    </div>
<!--  </div>-->
</ng-template>
