<div class="container">
  <div *ngIf="detallesPro">
    <h4>{{detallesPro['NOMBRE DEL PROYECTO']}}</h4>
    <hr>
    <div>anio de inicio: {{detallesPro['AÑO DE INICIO']}}</div>
    <hr>
    <div>Id personal: {{detallesPro['ID_personal']}}</div>
    <hr>
    <div>Estado actual: {{detallesPro['ESTADO ACTUAL']}}</div>
    <hr>
    <div>Enfoque: {{detallesPro['ENFOQUE']}}</div>
    <hr>
    <div>Pais: {{detallesPro['PAIS']}}</div>
    <div>Tipo de Sitio: {{detallesPro['TIPO DE SITIO']}}</div>
    <div>Titulo extendido: {{detallesPro['TITULO EXTENDIDO']}}</div>
  </div>
  <hr style="width:50%;text-align:left;margin-left:0">

  <div *ngIf="faunaPro">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">NOMBRE VULGAR</th>
        <th scope="col">Punteado web</th>
        <th scope="col">SPOB</th>
        <th scope="col">TSO</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let especie of faunaPro">
        <td>{{especie['NOMBRE VULGAR']}}</td>
        <td>{{especie['Punteado web']}}</td>
        <td>{{especie['SPOB']}}</td>
        <td>{{especie['TSO']}}</td>

      </tbody>
    </table>
  </div>
</div>
